# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.idea/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml
.pytest_cache/

# ruff
.ruff_cache/

# Secrets
.env
.env.*
secrets/
